## ignore venv
env-dora/

## ignore dora dir
.dora/

## ignore notebooks 
*.ipynb

## ignore idea thingy
.idea/

### OSX stuff
.DS_Store
.AppleDouble
.LSOverride

## pycache and other python stuff
__pycache__
dora.egg-info/
